; Shorty config

[url]
domain = shorty.com

[server]
address = 127.0.0.1
port = 8080

[database]
host = localhost
database = shorty_dev
user = user
password = password

maxIdleConnections = 5
maxOpenConnections = 10

[log]
path = ../log/shorty.log
